* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    background-color: rebeccapurple;
    width: 100px;
    height: 100px;
}

div:hover {
    /* background-color: blue; */
    /* transform: scale(1.1, 1.1); */
    /* transform: translate(40px, 40px); */
    /* transform: rotate(120deg); */
    
}

/* Transfrom values
Scale - increases in size on any Axis
translate - to change the location on any Axis
rotate - move an object in  circular movement
*/